单行注释为“#”，多行为“三个引号”

In [2]:
'''
我是注释
我是注释我是注释
'''
1.01 ** 365 # 我是注释
10 % 3
10 // 3

1

In [4]:
age = 18
type(age)
gender = True
type(gender)

bool

input读取的都是str

In [5]:
dj_str = input("单价")
sl_str = input("数量")
dj=float(dj_str)
sl=float(sl_str)
price = dj * sl
print(price)

36.0

In [6]:
dj=float(input("单价"))
sl=float(input("数量"))
price = dj * sl
print(price)

48.0

In [7]:
name = 'Ming'
age = 23
print('Hello, {}. You are {}.'.format(name, age))

Hello, Ming. You are 23.

In [8]:
name = 'Ming'
age = 23
print('Hello, {1}. You are {0}.'.format(age, name))

Hello, Ming. You are 23.

In [9]:
person = {'name': 'Ming', 'age': 23}
print('Hello, {name}. You are {age}.'.format(**person))

Hello, Ming. You are 23.

多个单词定义变量用小写字母，下划线连接

In [10]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
age = int(input("输入年龄"))
if age >= 18:
    print("adult")
else:
    print("teenager")

teenager

In [12]:
day = input("节日是：")
if day == "平安夜":
    print("apple")
elif day == "情人节":
    print("flower")
else:
    print("NokiaX300")

NokiaX300

In [13]:
i = 1
while i <= 5:
    print("打印五遍")
    i = i + 1

打印五遍
打印五遍
打印五遍
打印五遍
打印五遍

In [14]:
i = 0
s = 0
while i <= 100:
    s += i
    i += 1
print("0到100求和为: %d" %s)

0到100求和为: 5050

if情况有相同的要提出来

In [15]:
i = 0
s = 0
while i <= 100:
    if i % 2 == 0:
        s += i
    i += 1
print("0到100的偶数求和为: %d" %s)

0到100的偶数求和为: 2550

先循环行，每行再单独循环列

In [16]:
i = 1
while i <= 9:
    j = 1
    while j <= i:
        print("~", end="")
        j += 1
    i += 1
    print("*")

~*
~~*
~~~*
~~~~*
~~~~~*
~~~~~~*
~~~~~~~*
~~~~~~~~*
~~~~~~~~~*

In [17]:
def multiple_table():
    """九九乘法表"""
    
    i = 1
    while i <= 9:
        j = 1
        while j <= i:
            print("%d * %d = %d \t" %(j, i, i*j), end="")
            j += 1
        i += 1
        print("")

In [18]:
multiple_table()

1 * 1 = 1
1 * 2 = 2 	2 * 2 = 4
1 * 3 = 3 	2 * 3 = 6 	3 * 3 = 9
1 * 4 = 4 	2 * 4 = 8 	3 * 4 = 12 	4 * 4 = 16
1 * 5 = 5 	2 * 5 = 10 	3 * 5 = 15 	4 * 5 = 20 	5 * 5 = 25
1 * 6 = 6 	2 * 6 = 12 	3 * 6 = 18 	4 * 6 = 24 	5 * 6 = 30 	6 * 6 = 36
1 * 7 = 7 	2 * 7 = 14 	3 * 7 = 21 	4 * 7 = 28 	5 * 7 = 35 	6 * 7 = 42 	7 * 7 = 49
1 * 8 = 8 	2 * 8 = 16 	3 * 8 = 24 	4 * 8 = 32 	5 * 8 = 40 	6 * 8 = 48 	7 * 8 = 56 	8 * 8 = 64
1 * 9 = 9 	2 * 9 = 18 	3 * 9 = 27 	4 * 9 = 36 	5 * 9 = 45 	6 * 9 = 54 	7 * 9 = 63 	8 * 9 = 72 	9 * 9 = 81

In [19]:
def calc(numbers):
    sum = 0
    for n in numbers:
        sum += n*n
    return sum

In [20]:
print(calc((2, 4, 1, 3)))
print(calc([2, 4, 1, 3]))

30
30

In [21]:
def calc(*numbers):
    sum = 0
    for n in numbers:
        sum += n*n
    return sum

In [22]:
print(calc(2, 4, 1, 3))
print(calc(2, 4, 1, 3))

30
30

对于任意函数，不管其参数如何定义，都可以通过类似 func(*args, **kw) 的形式调用它

In [23]:
def f2(a, b, c=0, *, d, **kw):
    print(f'a = {a}, b = {b}, c = {c}, d: {d}, kw: {kw}')
    
args = (11, 22, 33)
kw = {'d': 44, 'x': '##'}
f2(*args, **kw)

a = 11, b = 22, c = 33, d: 44, kw: {'x': '##'}

In [24]:
L = []
n = 1
while n < 20:
    L.append(n)
    n += 2
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
for i in range(1, 10):
    print(i, end = " ")
print(end = "\n")
for j in range(10):
    print(j, end = " ")
print("\n")
for j in range(10):
    print(j, end = " ")

1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [26]:
L = [x * x for x in range(1, 11) if x % 2 == 0]
print(L)
L = [m + n for m in 'ABC' for n in 'XYZ']
print(L)

[4, 16, 36, 64, 100]
['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']